
.body{
	background-color: #3c76b7;
	background-size: auto;
}

.div{
	background-color: #3f4040;
	height:1280px;
	weight:710px; 
	padding: 15px;
	border-radius: 20px;
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 50px;
	text-align: center;
	color: white;
	font-size: 30px;
}
.wrapper {
 	 width: (1152px / 1280px) x 100 = 90%;
  	margin: 0 auto;
}

